@media screen  and (max-width:645px){

.contenu-loisir {
    width: 260px;
    }
    .menu{
     margin: auto;
    li{
     float: none;
        }
    }
    nav{
    height: 202px;
    position: absolute;
    }
    .presentation {
    margin-top: 277px;
    }
}